<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
<body>
    <div class="container" style="display: grid;">
      <a href="/" class="text-right">Logout</a>
      <div role="main">
        <h1><%= title %></h1>
          <a href="/add">create blog</a>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"><h5>Title</h5></th>
                <th scope="col"><h5>Update</h5></th>
                <th scope="col"><h5>Delete</h5></th>
              </tr>
            </thead>
            <% for(var i in content){ %>
            <tbody>
              <tr>
                <% var obj = content[i]; %>
                  <td><h5><%= obj.title %></h5></td>
                  <td>
                    <form action="/edit" method="get">
                      <input type="hidden" name="no" value="<%= obj.no %>">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                  </td>
                  <td>
                    <form action="/delete" method="get"> 
                      <input type="hidden" name="no" value="<%= obj.no %>">
                      <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                  </td>
              </tr>
            </tbody>
            <% } %>
          </table>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
